body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   
}
h1{
    text-shadow: 3px 3px 1px rgb(211, 242, 10);
    margin: 0 auto;
}

table {
    border: 1px solid black;
    width: 400px;
    padding: 8px;
    
}
table{
border-collapse: collapse;
}

th, td {
border: 1px solid black;
}
th {
background-color:  green ;
color: rgb(211, 242, 10);
}